body{
    margin: 0;padding: 0
}
.Movies-header{
   width:100%; height: 50px;background: red;text-align: center;color: white;font: 24px/50px "";
}
.Moviesheader{
    width:100%; height: 50px;background: red;text-align: center;color: white;font: 24px/50px "";
 }
.Movies-input{
    height: 40px;
}
.Movies-input input{
    height: 30px;margin: 5px 0 5px 30px ;width: 80%;font:14px/30px ""
}
.Movies-input button{
    background: red;color: white;width: 20%;height: 30px;
}
.M3-div1{
    border-bottom:0.5px solid darkgrey;display:flex;
}
.M3-div2{
    width:50%;margin-left:10px;padding-top: 20px;line-height: 22px;
}
.M3-div2-h3{
    font: 600 18px/30px "";
}
.M3-div2-span{
    font-size:12px;background:skyblue
}
.M3-div2-span2{
    color:red
}
.M3-btn{
    margin:50px 10px ;width:50px;height:28px;background:red;color:white;
}
.M4-div1{
    padding-top: 20px;list-style: none; margin-bottom: 30px; background: #fff ;padding-left:40px;overflow:hidden
}
.M4-div2{
    display: inline-block; width: 48%; overflow: hidden; margin: 5px 0;line-height: 22px;
}
.M4-div2-span{
     font-size: 24px; background: skyblue
}
.M5-div1{
    border-bottom: 0.5px solid darkgrey; display: flex
}
.M5-div2{
    width:50%;margin-left:10px;padding-top: 20px;line-height: 24px;
}
.M5-div2-span1{
     font-size: 12px; background: skyblue
}
.M5-btn{
    margin: 60px 0;background: skyblue;color: white;width:50px;height:28px;
}
.imgaa{
   height: 110px;margin: 15px;
}
.C1-h1{
    color: #333;
   font:600 22px/32px "";
    padding: 10px 0 20px 25px;border-bottom: 0.5px solid #ddd;
}
.C1-p1{
    padding: 0 40px 10px 30px;margin-bottom: 10px;
    font: 16px/22px "";border-bottom: 0.5px solid #ddd;
}
.C1-p1 img{
    height: 24px;
}
.C1-p2{
    font:600 22px/30px "";color: #777;padding:5px 0 10px 20px
}
.C1-ok{
    border-top: 0.5px solid #ddd;font:16px/24px "";padding: 15px 10px 15px 20px;
}
.C1-p3 span {
    color: #87b6c4;
    border: 1px solid #87b6c4;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 14px;
    padding: 0 3px;
    margin-top: 2px;
}
.C2-div1{
    text-align: left;
}
.C2-div1-p{
    text-align: left;margin-left: -100px;padding: 10px;font-size: 16px;
}
.C2-div2{
    padding: 5px;font-size: 14px;margin-right: -50px;
}
